
__pycache__/bedrock.cpython-37.pyc
__pycache__/bedrock.cpython-38.pyc
__pycache__/leveldb.cpython-37.pyc
__pycache__/leveldb.cpython-38.pyc
__pycache__/nbt.cpython-37.pyc
__pycache__/nbt.cpython-38.pyc
DoomReadyToPrint.mcworld
DoomReadyToPrint.stl
DoomReadyToPrint.xlsx
LevelDB-MCPE-32 - Copy.dll
LevelDB-MCPE-64 - Copy.dll
temp/db/000030.log
temp/db/000032.ldb
temp/db/CURRENT
temp/db/LOCK
temp/db/LOG
temp/db/MANIFEST-000028
temp/level.dat
temp/level.dat_old
temp/levelname.txt
temp/world_icon.jpeg
~$DoomReadyToPrint.xlsx
